<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <title>Document</title>
    <style>
        .color1{
            color: #2475a8;
        }
        .color2{
            color: #1f5272;
        }
        .form{
            background-color: #fff;
            border: 2px solid #ebebeb;
            text-align: center;
            width: 30%;
        }
        .form-title{
            font-weight: bolder;
            font-size: 26px;
        }
        .card-title{
            font-weight: bold;

        }
    </style>
</head>
<body class="bg-light">
    <center>
        <div class="login">
            <div class="logo mt-5 color1 form-title"><i class="bi bi-heart-pulse-fill"></i>Dr</div>
            <form action="login" method="post" enctype="multipart/form-data" class="form card">
                <div class="card-title color1">Login into your Account</div>
            </form>
        </div>
    </center>    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</body>
</html>